@using System.Globalization
@using Core.ExpenseWallet.Utilities
@model ExpenseWalletView

@{
    ViewBag.Title = "Dashboard";
    var salaryNode = Model.SalaryInformation?.First();
    var salaryDate = $"{@salaryNode?.nextSalaryPaymentExpectedDate:dd-MM-yyyy}";
    var nextSalaryInDays = Convert.ToDouble(salaryNode?.nextSalaryPaymentStandardDeviationInDays ?? "0", CultureInfo.InvariantCulture).ToString("F");
}
<div class="row" style="margin-bottom:30px;">
    <div class="col-12">
        <h1 style="text-align:center;">
            Wallet
        </h1>
    </div>

    <hr style="height: 2px; border: 2px solid #344767;" />
</div>

<div class="row" style="margin-bottom: 30px;">


    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
        <div class="card">
            <div class="card-header p-3 pt-2">
                <div class="icon icon-lg icon-shape bg-gradient-dark shadow-dark text-center border-radius-xl mt-n4 position-absolute">
                    <i class="material-icons opacity-10">weekend</i>
                </div>
                <div class="text-end pt-1">
                    <p class="text-sm mb-0 text-capitalize">Total Available Income</p>
                    <h4 class="mb-0">@Model?.Income?.totalIncome?.quantity</h4>
                </div>
            </div>
            <hr class="dark horizontal my-0">
            <div class="card-footer p-3">
                <p class="mb-0"><span class="text-success text-sm font-weight-bolder">Currency </span>@Model?.Income?.totalIncome?.currency</p>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
        <div class="card">
            <div class="card-header p-3 pt-2">
                <div class="icon icon-lg icon-shape bg-gradient-primary shadow-primary text-center border-radius-xl mt-n4 position-absolute">
                    <i class="material-icons opacity-10">person</i>
                </div>
                <div class="text-end pt-1">
                    <p class="text-sm mb-0 text-capitalize">Next Salary Date</p>
                    <h4 class="mb-0">@salaryDate</h4>
                </div>
            </div>
            <hr class="dark horizontal my-0">
            <div class="card-footer p-3">
                <p class="mb-0"><span class="text-success text-sm font-weight-bolder">Salary Frequency </span> @salaryNode?.frequency</p>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
        <div class="card">
            <div class="card-header p-3 pt-2">
                <div class="icon icon-lg icon-shape bg-gradient-success shadow-success text-center border-radius-xl mt-n4 position-absolute">
                    <i class="material-icons opacity-10">person</i>
                </div>
                <div class="text-end pt-1">
                    <p class="text-sm mb-0 text-capitalize">Next Salary In Days</p>
                    <h4 class="mb-0">@nextSalaryInDays</h4>
                </div>
            </div>
            <hr class="dark horizontal my-0">
            <div class="card-footer p-3">
                <p class="mb-0"><span class="text-success text-sm font-weight-bolder">Last Salary</span> @salaryNode?.previousSalaryPaymentDate</p>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6">
        <div class="card">
            <div class="card-header p-3 pt-2">
                <div class="icon icon-lg icon-shape bg-gradient-info shadow-info text-center border-radius-xl mt-n4 position-absolute">
                    <i class="material-icons opacity-10">weekend</i>
                </div>
                <div class="text-end pt-1">
                    <p class="text-sm mb-0 text-capitalize">Expected Salary</p>
                    <h4 class="mb-0">@salaryNode?.salaryExpected?.quantity</h4>
                </div>
            </div>
            <hr class="dark horizontal my-0">
            <div class="card-footer p-3">
                <p class="mb-0"><span class="text-success text-sm font-weight-bolder">Currency </span>@salaryNode?.salaryExpected?.currency</p>
            </div>
        </div>
    </div>
    
</div>

<div class="row" style="margin-bottom: 30px;">
    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
        <a asp-action="TopUp" asp-controller="StitchService">
            <div class="card">
                <div class="card-header p-3 pt-2">
                    <div class="icon icon-lg icon-shape bg-gradient-dark shadow-dark text-center border-radius-xl mt-n4 position-absolute">
                        <i class="material-icons opacity-10">+</i>
                    </div>
                    <div class="text-end pt-1">
                        <p class="text-sm mb-0 text-capitalize">Easy Top Up Service</p>
                        <h4 class="mb-0">Top Up Wallet</h4>
                    </div>
                </div>
                <hr class="dark horizontal my-0">
                <div class="card-footer p-3">
                    <p class="mb-0"><span class="text-success text-sm font-weight-bolder">Add Funds </span>To Your Wallet</p>
                </div>
            </div>
        </a>
    </div>
    
    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
        <div class="card">
            <div class="card-header p-3 pt-2">
                <div class="icon icon-lg icon-shape bg-gradient-dark shadow-dark text-center border-radius-xl mt-n4 position-absolute">
                    <i class="material-icons opacity-10">weekend</i>
                </div>
                <div class="text-end pt-1">
                    <p class="text-sm mb-0 text-capitalize">Wallet Balance</p>
                    <h4 class="mb-0">@Model?.FloatBalance</h4>
                </div>
            </div>
            <hr class="dark horizontal my-0">
            <div class="card-footer p-3">
                <p class="mb-0"><span class="text-success text-sm font-weight-bolder">Currency </span>@Default.DefaultCurrency</p>
            </div>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-12">
        <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                    <h6 class="text-white text-capitalize ps-3">Bank Accounts</h6>
                </div>
            </div>
            <div class="card-body px-0 pb-2">
                <div class="table-responsive p-0">
                    <table class="table align-items-center justify-content-center mb-0" id="accountsTable">
                        <thead>
                            <tr>
                                <th></th>
                                <th style="text-align:center">Name</th>
                                <th style="text-align:center">Currency</th>
                                <th style="text-align:center">Available Balance</th>
                                <th style="text-align:center">Account Type</th>
                                <th style="text-align:center">Account Number</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var account in Model.BankAccounts)
                            {
                                <tr>
                                    <td>
                                        <div>
                                            <img src="/expensewallet/img/bank-account.png" class="avatar avatar-sm rounded-circle me-2" alt="spotify" style="padding:5px;">
                                        </div>
                                    </td>
                                    <td>
                                        <h6 class="mb-0 text-sm" style="text-align:center;">@account.name</h6>
                                    </td>
                                    <td>
                                        <h6 class="mb-0 text-sm" style="text-align:center;">@account.availableBalance.currency</h6>
                                    </td>
                                    <td>
                                        <h6 class="mb-0 text-sm" style="text-align:center;">@account.availableBalance.quantity</h6>

                                    </td>
                                    <td>
                                        <h6 class="mb-0 text-sm" style="text-align:center;">@account.accountType</h6>
                                    </td>
                                    <td>
                                        <h6 class="mb-0 text-sm" style="text-align:center;">@account.accountNumber</h6>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-12">
        <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                    <h6 class="text-white text-capitalize ps-3">Transactions</h6>
                </div>
            </div>
            <div class="card-body px-0 pb-2">
                <div class="table-responsive p-0">
                    <table class="table align-items-center justify-content-center mb-0" id="transactionsTable">
                        <thead>
                            <tr>
                                <th></th>
                                <th style="text-align:center">Currency</th>
                                <th style="text-align:center">Amount</th>
                                <th style="text-align:center">Reference</th>
                                <th style="text-align:center">Running Balance</th>
                                <th style="text-align:center">Description</th>
                                <th style="text-align:center">Date</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var node in Model.Transactions)
                            {
                                <tr>
                                    <td>
                                        <div>
                                            <img src="/expensewallet/img/bank-account.png" class="avatar avatar-sm rounded-circle me-2" alt="spotify" style="padding:5px;">
                                        </div>
                                    </td>
                                    <td>
                                        <h6 class="mb-0 text-sm" style="margin-left:16px;text-align:center;">  @node.amount.currency </h6>

                                    </td>

                                    <td>
                                        <h6 class="mb-0 text-sm" style="text-align: center;margin-right: 25px;">@node.amount.quantity</h6>
                                    </td>
                                    <td>
                                        <h6 class="mb-0 text-sm" style="text-align: center;">@node?.reference</h6>

                                    </td>
                                    <td>
                                        <h6 class="mb-0 text-sm" style="text-align: center;">@node?.runningBalance?.quantity</h6>
                                    </td>
                                    <td>
                                        <h6 class="mb-0 text-sm" style="text-align:center">@node?.description</h6>
                                    </td>
                                    <td>
                                        <h6 class="mb-0 text-sm" style="text-align:center">@node?.date</h6>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function() {
            $('#transactionsTable').dataTable();
            $('#accountsTable').dataTable();
        });
    </script>
}
